body {
    margin: 0; /* Remove a margem padrão do corpo */
    font-family: 'Muli', sans-serif; /* Define a fonte do texto para 'Muli' */
    -webkit-box-sizing: border-box; /* Define o comportamento de box-sizing para bordas no Safari/Chrome */
    box-sizing: border-box; /* Define o comportamento de box-sizing para bordas em todos os navegadores */
    overflow-x: hidden; /* Esconde o overflow horizontal */
}

.background {
    background: url('/imagens/black-white-background.jpg') center top no-repeat #8083a3; /* Define a imagem de fundo, posição e cor de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo jpge */
    display: block; /* Define o display como bloco */
    width: 100%; /* Largura completa */
    height: 200%; /* Altura fixa */
    position: absolute; /* Posição absoluta */
    z-index: 0; /* Define a profundidade do elemento */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona na esquerda */
}

.background-texture {
    background: -webkit-gradient(linear, left bottom, left top, from(#e2dff1e6), to(rgba(250, 251, 249, 0.9))); /* Gradiente de fundo para Safari/Chrome */
    /* Gradiente de fundo para outros navegadores */
    background-size: 100%; /* Ajusta a imagem para cobrir todo o fundo que cobre o jpge */
    width: 100%; /* Largura completa */
    height: 200%; /* Altura fixa */
    position: absolute; /* Posição absoluta */
    z-index: 0; /* Define a profundidade do elemento */
    top: auto; /* Posiciona no topo */
    left: auto; /* Posiciona na esquerda */
    opacity: 0.5;
}

header {
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo semi-transparente */
    color: rgb(0, 0, 0); /* Cor do texto branca */
    padding: 15px 650px; /* Espaçamento interno */
    display: flex; /* Define o display como flexbox */
    justify-content: flex-start; /* Espaça os itens à esquerda */
    align-items: center; /* Alinha os itens ao centro */
    z-index: 1; /* Define a profundidade do elemento */
    position: relative; /* Posição relativa */
}

.navbar .name-btn {
    background: none; /* Sem fundo */
    border: none; /* Sem borda */
    color: rgb(198, 55, 55); /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    position: absolute; /* Posição absoluta */
    left: 15px; /* Posiciona à esquerda */
    top: 50%; /* Posiciona no centro vertical */
    transform: translateY(-50%); /* Centraliza verticalmente */
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 150px; /* Adicionei essa propriedade para separar os botões */
    margin-left: auto; /* Move os botões à direita */
  }  

.nav-buttons button {
    background: none; /* Sem fundo */
    border: none; /* Sem borda */
    color: rgb(8, 8, 8); /* Cor do texto branca */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease-in-out;
}

/* Alinhar os botões horizontalmente */
.top-bar button {
    display: inline-block;
  }

.dropdown-content {
    display: none; /* Esconde o dropdown inicialmente */
    position: absolute; /* Posição absoluta */
    background-color: white; /* Cor de fundo branca */
    min-width: 160px; /* Largura mínima */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra para o dropdown */
    top: 30px; /* Posição de 30px do topo */
}

.dropdown-content a {
    color: black; /* Cor do texto preta */
    padding: 12px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    display: block; /* Display como bloco */
}

.dropdown-content a:hover {
    background-color: #bcd5c3; /* Cor de fundo ao passar o mouse no dropdown */
}

.dropdown:hover .dropdown-content {
    display: block; /* Mostra o dropdown ao passar o mouse */
}

.search-btn img {
    width: 20px; /* Largura da imagem */
    height: 20px; /* Altura da imagem */
}

.carousel {
    width: 100%; /* Largura completa */
    overflow-x: scroll; /* Permite rolagem horizontal */
    padding: 30px; /* Espaçamento interno */
    padding-top: 80px; /* Espaçamento superior */
    position: relative; /* Posição relativa */
    -webkit-box-sizing: border-box; /* Define o comportamento de box-sizing para bordas no Safari/Chrome */
    box-sizing: border-box; /* Define o comportamento de box-sizing para bordas em todos os navegadores */
}

.carousel__container {
    white-space: nowrap; /* Impede quebra de linha */
    margin: 70px 0px; /* Margem superior e inferior */
    padding-bottom: 10px; /* Espaçamento interno inferior */
    display: inline-block; /* Display como bloco inline */
}

.categories__title {
    color: rgb(100, 97, 103); /* Cor do texto */
    font-size: 28px; /* Tamanho da fonte */
    position: absolute; /* Posição absoluta */
    padding-left: 30px; /* Espaçamento interno esquerdo */
}

.carousel-item {
    width: 200px; /* Largura do item */
    height: 250px; /* Altura do item */
    border-radius: 20px; /* Borda arredondada */
    background-color: #95bcd6; /* Cor de fundo */
    overflow: hidden; /* Esconde overflow */
    margin-right: 10px; /* Margem direita */
    margin-top: 25px; /* Margem superior */
    display: inline-block; /* Display como bloco inline */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    -webkit-transition: 1000ms all; /* Transição suave no Safari/Chrome */
    transition: 1000ms all; /* Transição suave */
    -webkit-transform-origin: center left; /* Origem de transformação no Safari/Chrome */
    transform-origin: center left; /* Origem de transformação */
    position: relative; /* Posição relativa */
}

.carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0); /* Translada o item no Safari/Chrome */
    transform: translate3d(100px, 0, 0); /* Translada o item */
}

.carousel__container:hover .carousel-item {
    opacity: 0.3; /* Define opacidade dos itens */
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5); /* Aumenta o item no Safari/Chrome */
    transform: scale(1.5); /* Aumenta o item */
    opacity: 1; /* Define opacidade do item */
}

.carousel-item__img {
    width: 200px; /* Largura da imagem */
    height: 250px; /* Altura da imagem */
    -o-object-fit: cover; /* Ajuste da imagem no Opera */
    object-fit: cover; /* Ajuste da imagem */
}

/* Estilizando a barra de rolagem */
.scrollbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
}

.carousel__scrollbar {
    width: 100%;
    height: 20px;
    display: flex;
}

.carousel__container {
    width: calc(200px * 5); /* Ajuste conforme necessário */
}

.carousel__scrollbar::after {
    content: '';
    width: calc(200px * 5); /* Ajuste conforme necessário */
}

.carousel-item__details {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0))); /* Gradiente de fundo para Safari/Chrome */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /* Gradiente de fundo para outros navegadores */
    font-size: 10px; /* Tamanho da fonte */
    opacity: 0; /* Opacidade inicial */
    -webkit-transition: 350ms opacity; /* Transição suave de opacidade no Safari/Chrome */
    transition: 100ms opacity; /* Transição suave de opacidade */
    padding: 10px; /* Espaçamento interno */
    position: absolute; /* Posição absoluta */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona na esquerda */
    right: 0; /* Posiciona na direita */
    bottom: 0; /* Posiciona na base */
}

.carousel-item__details:hover {
    opacity: 1; /* Define opacidade ao passar o mouse */
}

.carousel-item__details span {
    font-size: 0.9rem; /* Tamanho da fonte */
    color: #4ed888; /* Cor do texto */
}

.carousel-item__details .controls {
    padding-top: 200px; /* Espaçamento superior */
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
    color: #fff; /* Cor do texto branca */
    margin: 5px 0; /* Margem superior e inferior */
}

.footer-bar {
    background-color: rgba(255, 255, 255, 0.529); /* Cor de fundo semi-transparente */
    color: rgb(245, 240, 240); /* Cor do texto branca */
    display: flex; /* Define o display como flexbox */
    justify-content: flex-start; /* Alinha os itens no início */
    padding: 10px 20px; /* Espaçamento interno */
    position: relative; /* Posição relativa */
    bottom: -650px; /* Define posição da barra inferior */
    z-index: 1; /* Define a profundidade do elemento */
}

.social-btn {
    color: rgb(7, 7, 7); /* Cor do texto branco barra inferior */
    text-decoration: none; /* Remove sublinhado */
    margin-right: 20px; /* Margem direita */
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Alinha os itens em coluna */
        align-items: center; /* Centraliza os itens */
    }
}
