body {
    margin: 0; /* Remove a margem padrão do corpo */
    font-family: 'Muli', sans-serif; /* Define a fonte do texto para 'Muli' */
    -webkit-box-sizing: border-box; /* Define o comportamento de box-sizing para bordas no Safari/Chrome */
    box-sizing: border-box; /* Define o comportamento de box-sizing para bordas em todos os navegadores */
    overflow-x: hidden; /* Esconde o overflow horizontal */
}

.background {
    background: url('/imagens/bright-purple-square-mosaic-textural-background.jpg') center top no-repeat #8083a3; /* Define a imagem de fundo, posição e cor de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo jpge */
    display: block; /* Define o display como bloco */
    width: 100%; /* Largura completa */
    height: 200%; /* Altura fixa */
    position: absolute; /* Posição absoluta */
    z-index: 0; /* Define a profundidade do elemento */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona na esquerda */
}

.background-texture {
    background: -webkit-gradient(linear, left bottom, left top, from(#e2dff1e6), to(rgba(250, 251, 249, 0.9))); /* Gradiente de fundo para Safari/Chrome */
    /* Gradiente de fundo para outros navegadores */
    background-size: 100%; /* Ajusta a imagem para cobrir todo o fundo que cobre o jpge */
    width: 100%; /* Largura completa */
    height: 200%; /* Altura fixa */
    position: absolute; /* Posição absoluta */
    z-index: 0; /* Define a profundidade do elemento */
    top: auto; /* Posiciona no topo */
    left: auto; /* Posiciona na esquerda */
    opacity: 0.5;
}

header {
    background-color: rgba(215, 182, 182, 0.5); /* Cor de fundo semi-transparente */
    color: rgb(0, 0, 0); /* Cor do texto branca */
    padding: 15px; /* Espaçamento interno */
    display: flex; /* Define o display como flexbox */
    justify-content: space-between; /* Espaça os itens uniformemente */
    align-items: center; /* Alinha os itens ao centro */
    z-index: 1; /* Define a profundidade do elemento */
    position: relative; /* Posição relativa */
}

/* Define o estilo para o elemento com classe "navbar" */
.navbar {
    /* Define o display como flexbox para alinhar os elementos */
    display: flex;
    /* Alinha os elementos ao centro verticalmente */
    align-items: center;
}

/* Define o estilo para o elemento com classe "name-btn" */
.name-btn {
    /* Define a margem direita como "auto" para empurrar o elemento para a esquerda */
    margin-right: auto;
    /* Define a cor do texto */
    color: #d6d645;
    /* Remove a decoração do texto */
    text-decoration: none;
    /* Define o tamanho da fonte */
    font-size: 1.2em;
    /* Transforma o texto em maiúsculas */
    text-transform: uppercase;
    /* Define o peso da fonte */
    font-weight: 500;
    /* Define o display como inline-block para permitir que o elemento seja alinhado */
    display: inline-block;
    /* Define a largura do elemento */
    width: 80px;
    /* Define a transição para o elemento */
    transition: all 0.2s ease-in-out;
}

/* Define o estilo para o elemento com classe "name-btn" quando o mouse está sobre ele */
.name-btn:hover {
    /* Define a cor do texto quando o mouse está sobre o elemento */
    color: #151512;
}

/* Define o estilo para o elemento com classe "nav-buttons" */
.nav-buttons {
    /* Define o display como flexbox para alinhar os elementos */
    display: flex;
    /* Alinha os elementos ao centro verticalmente */
    align-items: center;
    /* Define o espaçamento entre os elementos */
    gap: 100px; /* Adicionei essa propriedade para separar os botões */
}

/* Define o estilo para os botões dentro do elemento com classe "nav-buttons" */
.nav-buttons button {
    /* Remove o fundo do botão */
    background: none; /* Sem fundo */
    /* Remove a borda do botão */
    border: 16px; /* Sem borda */
    /* Define a cor do texto do botão */
    color: #514d4d;
    /* Define o cursor como um ponteiro quando o mouse está sobre o botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    /* Define o tamanho da fonte do botão */
    font-size: 1.2em;
    /* Transforma o texto do botão em maiúsculas */
    text-transform: uppercase;
    /* Define o peso da fonte do botão */
    font-weight: 500;
    /* Define o display como inline-block para permitir que o botão seja alinhado */
    display: inline-block;
    /* Define a largura do botão */
    width: 200px;
    /* Define a transição para o botão */
    transition: all 0.2s ease-in-out;
}

/* Define o estilo para os botões dentro do elemento com classe "nav-buttons" quando o mouse está sobre eles */
.nav-buttons button:hover {
    /* Define a cor do texto do botão quando o mouse está sobre ele */
    color: #c19797;
}

/* Define o estilo para os botões dentro do elemento com classe "top-bar" */
.top-bar button {
    /* Define o display como inline-block para permitir que o botão seja alinhado */
    display: inline-block;
}
.dropdown-content {
    display: none; /* Esconde o dropdown inicialmente */
    position: absolute; /* Posição absoluta */
    background-color: white; /* Cor de fundo branca */
    min-width: 100px; /* Largura mínima */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra para o dropdown */
    top: 30px; /* Posição de 30px do topo */
}

.dropdown-content a {
    color: black; /* Cor do texto preta */
    padding: 12px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    display: block; /* Display como bloco */
}

.dropdown-content a:hover {
    background-color: #bcd5c3; /* Cor de fundo ao passar o mouse no dropdown */
}

.dropdown:hover .dropdown-content {
    display: block; /* Mostra o dropdown ao passar o mouse */
}

.search-btn img {
    width: 20px; /* Largura da imagem */
    height: 20px; /* Altura da imagem */
}

.carousel {
        width: 100%;
        padding: 30px;
        padding-top: 80px;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-x: hidden;
    }

.carousel__container {
    white-space: nowrap; /* Impede quebra de linha */
    margin: 70px 0px; /* Margem superior e inferior */
    padding-bottom: 10px; /* Espaçamento interno inferior */
    display: inline-block; /* Display como bloco inline */
}

.categories__title {
    color: rgb(100, 97, 103); /* Cor do texto */
    font-size: 28px; /* Tamanho da fonte */
    position: absolute; /* Posição absoluta */
    padding-left: 30px; /* Espaçamento interno esquerdo */
}

.carousel-item {
    width: 200px; /* Largura do item */
    height: 250px; /* Altura do item */
    border-radius: 20px; /* Borda arredondada */
    background-color: #95bcd6; /* Cor de fundo */
    overflow: hidden; /* Esconde overflow */
    margin-right: 10px; /* Margem direita */
    margin-top: 25px; /* Margem superior */
    display: inline-block; /* Display como bloco inline */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    -webkit-transition: 1000ms all; /* Transição suave no Safari/Chrome */
    transition: 1000ms all; /* Transição suave */
    -webkit-transform-origin: center left; /* Origem de transformação no Safari/Chrome */
    transform-origin: center left; /* Origem de transformação */
    position: relative; /* Posição relativa */
}

.carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0); /* Translada o item no Safari/Chrome */
    transform: translate3d(100px, 0, 0); /* Translada o item */
}

.carousel__container:hover .carousel-item {
    opacity: 0.3; /* Define opacidade dos itens */
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5); /* Aumenta o item no Safari/Chrome */
    transform: scale(1.5); /* Aumenta o item */
    opacity: 1; /* Define opacidade do item */
}

.carousel-item__img {
    width: 200px; /* Largura da imagem */
    height: 250px; /* Altura da imagem */
    -o-object-fit: cover; /* Ajuste da imagem no Opera */
    object-fit: cover; /* Ajuste da imagem */
}

/* Estilizando a barra de rolagem */
.scrollbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
}

.carousel__scrollbar {
    width: 100%;
    height: 20px;
    display: flex;
}

.carousel__container {
    width: calc(200px * 5); /* Ajuste conforme necessário */
}

.carousel__scrollbar::after {
    content: '';
    width: calc(200px * 5); /* Ajuste conforme necessário */
}

.carousel-item__details {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0))); /* Gradiente de fundo para Safari/Chrome */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /* Gradiente de fundo para outros navegadores */
    font-size: 10px; /* Tamanho da fonte */
    opacity: 0; /* Opacidade inicial */
    -webkit-transition: 350ms opacity; /* Transição suave de opacidade no Safari/Chrome */
    transition: 100ms opacity; /* Transição suave de opacidade */
    padding: 10px; /* Espaçamento interno */
    position: absolute; /* Posição absoluta */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona na esquerda */
    right: 0; /* Posiciona na direita */
    bottom: 0; /* Posiciona na base */
}

.carousel-item__details:hover {
    opacity: 1; /* Define opacidade ao passar o mouse */
}

.carousel-item__details span {
    font-size: 0.9rem; /* Tamanho da fonte */
    color: #4ed888; /* Cor do texto */
}

.carousel-item__details .controls {
    padding-top: 200px; /* Espaçamento superior */
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
    color: #fff; /* Cor do texto branca */
    margin: 5px 0; /* Margem superior e inferior */
}

.footer-bar {
    background-color: rgba(255, 255, 255, 0.529); /* Cor de fundo semi-transparente */
    color: rgb(245, 240, 240); /* Cor do texto branca */
    display: flex; /* Define o display como flexbox */
    justify-content: flex-start; /* Alinha os itens no início */
    padding: 10px 20px; /* Espaçamento interno */
    position: relative; /* Posição relativa */
    bottom: -650px; /* Define posição da barra inferior */
    z-index: 1; /* Define a profundidade do elemento */
}

.social-btn {
    color: rgb(7, 7, 7); /* Cor do texto branco barra inferior */
    text-decoration: none; /* Remove sublinhado */
    margin-right: 20px; /* Margem direita */
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Alinha os itens em coluna */
        align-items: center; /* Centraliza os itens */
    }
}
